{% extends 'base.html' %}
{% block title %} Add Reccord | KINGS PLACE {% endblock %}

{% block content %}

<div class="contain header">
    <form action="{% url 'appadd' %}" method="post">
      {% csrf_token %}
        <div class="container">
          <h1>Add Record</h1>
          <hr>
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <p id="message-time" class="alert alert-error float-center text-center text-dark">
            {{ message }}
         </p>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <p id="message-time" class="alert alert-success float-center text-center text-dark">
             {{ message }}
          </p>
          {% endif %}
          {% endfor %}
          {% endif %}
      
          {{ form.as_p }}
      
          <div class="clearfix">
            <button type="submit" class="btn">Add Record</button>
          </div>
        </div>
      </form>
</div>

{% endblock %}